* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    border-radius: 20px;
    border : 2px solid #000000;
    box-shadow:4px 4px 5px 0 rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
img:hover {
    width: 320px ;
    height: 320px;
    border : 3px solid #000000;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}
html
{
    background-color: rgb(125, 162, 182);
    margin: 30px;
    text-align: center;
}
h1
{
    color: #333;
    text-decoration:overline;
    font-size: 39px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
strong
{
    text-decoration: underline ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p
{
    color: #333;
    font-size: larger;
    font-style: italic;
}
h2
{
    color: #333;
}
a
{
    margin: 5px;
    
}
footer {
  
    color: rgb(21, 2, 2);
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: hsl(60, 90%, 46%);
    text-decoration: none;
    margin: 0 10px;
}

